@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font‑display: swap;
}
  
@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font‑display: swap;
}
  
@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font‑display: swap;
}
  
@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font‑display: swap;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.container {
    max-width: 1120px;
    margin: 0 auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__icon {
    transform: translateY(2px);
}

.header {
    display: flex;
    padding: 24px 16px;
    height: 88px;
}

.header__left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.header__btn--burger {
    padding: 0;
    background-color: #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 17px;
}

.header__btn--divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
    display: none;
}

.header__btn--logo {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
    width: 96px;
    height: 50px;
}
.header__btn--call {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: none;
}

.header__btn--chat {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: none;
}

.header__btn__profile {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: none;
}

.header__btn--divider2 {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #eaeaea;
    margin-right: 4px;
}
  
.header__btn--repair {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-left: 16px;
}

.main__header-icon-text {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    display: none;
}

.main__btn--repair {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    display: none;
}
  
.header__btn--search {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    
}

.main__btn--search {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    display: none;
}


.main {
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
}

.main__header--left {
    display: flex;
    align-items: center;
}

.main__heading {
    font-size: 28px;
    font-family: "TT Lakes";
    line-height: 40px;
    color: #1B1C21;
}
.main__highlight {
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    margin-right: 12px;
    border-radius: 0 15px 15px 0;
}

.main__navigation {
    height: 55px;
    overflow: hidden;
    padding-top: 0px;
}
.main__list {
    padding-bottom: 0px;
    display: flex;
    height: 77px;
    align-items: center;
    margin-left: 16px;
    overflow: auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.main__item--1120 {
    display: none;
}

.main__link:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
}

.main__link {
    text-decoration: none;
    white-space: nowrap;
    padding: 6px 16px;
    display: block;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: transparent;
    outline: none;
    color: #7e7e82;
    font-family: 'TT Lakes';
}

.main__text {
    height: 90px;
    font-weight: 300;
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-bottom: 16px;
    overflow: hidden;
}

.base {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main__continue {
    display: flex;
    margin-bottom: 22px;
    align-items: center;
}

.main__icon--bottom {
    background: url("/assets/img/icon-arrow.svg") center center no-repeat transparent;
    background-size: contain;
    width: 7.41px;
    height: 10.29px;
    margin-right: 16px;
    margin-left: 24px;
    margin-right: 16px;
}

.main__continue--text {
    font-family: 'TT Lakes';
    color: #1B1C21;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 300;
}

.main__image {
    width: 320px;
    height: 176px;
}

.container__brand {
    width: 320px;
}


.main__img--size {
    width: 320px;
}
@media (min-width: 768px) {
    .main__text {
        width: 312px;
        height: 160px;
        margin-bottom: 10px;
    }
    .header__btn--burger {
        margin-right: 20px;
    }

    .header__btn--divider {
        display: inherit;
        margin-right: 20px;
    }

    .header__btn--call {
        display: inherit;
        
    }

    .header__btn--chat {
        display: inherit;
        margin-left: 16px;
    }

    .header__btn__profile {
        display: inherit;
        margin-right: 20px;
        margin-left: 16px;
    }
    
    .header__icon--768 {
        transform: translate(10px, 10px)
    }

    .base {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .main__base-left {
        align-self: flex-start;
        max-width: 312px; 
    }

    .main__base-right {
        align-self: flex-end;
    }
    
    

    .main__image {
        margin-right: 25px;
        margin-left: auto;
    }
    .container__brand {
        display: flex;
        position: static;
        padding: 0;
        min-width: 360px;
        min-height: 260px;
        margin-right: 25px;
        margin-left: 48px;
        padding-top: 19px;
        padding-bottom: 26px;
        top: 0;
    }
    .main__img--size {
        
        position: static;
        width: 100%;
        height: auto;
    }
    .container__brand {
        width: 20%;
    }
}

@media (min-width: 1120px) {
    .main__item--1120 {
        display: inherit;
    }
    .main__text {
        width: 490px;
        height: auto;
        margin-bottom: 21px;
    }
    h1 {
        margin-left: 20px;
    }
    .main {
        border-top: none;
    }
    .header {
        display: none;
    }


    .main__highlight {
        width: 3px;
        height: 40px;
        background-color: #41F6D7;
        margin-right: 12px;
        border-radius: 0 15px 15px 0;
    }

    .header__icon--1120 {
        transform: translate(10px, 10px)
    }

    .main-header {
        display: flex;
        justify-content: space-between;
    }
    .main__header--right {
        display: flex;
        align-items: center;

    }

    .main__btn--repair {
        display: inherit;
        margin-right: 32px;
    }

    .main__btn--search {
        display: inherit;
        margin-right: 32px;
    }

    .main__header-icon-text {
        display: inherit;
    }

    .main__list {
        display: flex;
        align-items: center;
        margin-left: 16px;
        flex-wrap: wrap;
    }

    .container__brand {
        width: 40%;
    }

    .main__navigation {
        height: auto;
    }

    .main__list {
        height: auto;
    }
}
